<!DOCTYPE html>
<html>
    <head>
        <title>To-do List</title>
        <meta charset="utf-8">
        <meta name="full-screen" content="yes">
        <meta name="x5-fullscreen" content="true">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
        <link rel="icon" href="https://cdn.lufei.so/icon/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="https://cdn.lufei.so/css/font.css" charset="utf-8">
    </head>
    <body>
        <normal v-if="normal"></normal>
        <min v-if="!normal"></min>
        <!-- js -->
        <script src="https://cdn.lufei.so/js/vue.min.js"></script>
        <script src="index.js"></script>
    </body>
</html>
